@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
body {
  margin: 0;
  box-sizing: border-box;
  color: #000;
}

.container {
  margin: 0px auto;
  max-width: 2022px;
  position: relative;
  display: flex;
}

header {
  background-image: url(/img/Layer2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
header .container {
  flex-direction: column;
  text-align: center;
}
header .container .top {
  color: #fff;
}
header .container .top h1 {
  font-family: "Raleway", sans-serif;
  font-size: clamp(3.5rem, 10vw, 6rem);
}
header .container .top h1 span {
  color: #9f449b;
}
header .container .top .fusce h4 {
  font-size: 48px;
  line-height: 100%;
}
header .container .top .fusce p {
  font-size: 24px;
  line-height: 30px;
}
header .container .bot {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
header .container .bot .items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 50vh;
}
header .container .bot .items .one,
header .container .bot .items .two,
header .container .bot .items .fhree {
  position: relative;
}
header .container .bot .items .item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
header .container .bot .items .item img + img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
header .container .bot .items .item:hover > img:first-child {
  animation: animal-2 1.2s;
  animation-fill-mode: forwards;
}
header .container .bot .items .item:hover > img:last-child {
  animation: animal-1 1.2s;
  animation-fill-mode: forwards;
}
header .container .bot .items .item::after {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}
header .container .bot .items .item::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  width: 37%;
  height: 32%;
}
header .container .bot .items .one {
  display: flex;
  column-gap: 20px;
  align-self: flex-end;
  color: #fff;
}
header .container .bot .items .one .itemAbout::after {
  content: "About";
}
header .container .bot .items .one .itemTeam::after {
  content: "Team";
}
header .container .bot .items .one .itemAbout::before {
  background: url(img/icons/settings.png) no-repeat;
}
header .container .bot .items .one .itemTeam::before {
  background: url(img/icons/user.png) no-repeat;
}
header .container .bot .items .two {
  display: flex;
  column-gap: 20px;
  align-self: center;
  color: #fff;
}
header .container .bot .items .two .itemServices::after {
  content: "Services";
}
header .container .bot .items .two .itemPortfolio::after {
  content: "Portfolio";
}
header .container .bot .items .two .itemServices::before {
  background: url(img/icons/bubble.png) no-repeat;
}
header .container .bot .items .two .itemPortfolio::before {
  background: url(img/icons/photo.png) no-repeat;
}
header .container .bot .items .fhree {
  display: flex;
  column-gap: 20px;
  align-self: flex-end;
  color: #fff;
}
header .container .bot .items .fhree .itemBlog::after {
  content: "Blog";
}
header .container .bot .items .fhree .itemContact::after {
  content: "Contact";
}
header .container .bot .items .fhree .itemBlog::before {
  background: url(img/icons/pen.png) no-repeat;
}
header .container .bot .items .fhree .itemContact::before {
  background: url(img/icons/paperplane.png) no-repeat;
}
header .container .bot .btnDown {
  margin-bottom: 50px;
  position: relative;
}
header .container .bot .btnDown img {
  cursor: pointer;
  animation: animal-3 2.2s infinite;
}
header .container .bot .btnDown span {
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  font-size: 30px;
}
header .container .bot .btnDown img:hover + span,
header .container .bot .btnDown span:hover {
  color: #9f449b;
  transition: 0.5s;
}

.goals {
  background-color: #eeeeee;
}
.goals .container .items {
  align-items: center;
  display: flex;
  color: #000;
  height: 800px;
  text-align: center;
}
.goals .container .items .one,
.goals .container .items .two,
.goals .container .items .fhree,
.goals .container .items .four {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 10px;
}
.goals .container .items .one .img,
.goals .container .items .two .img,
.goals .container .items .fhree .img,
.goals .container .items .four .img {
  position: relative;
  cursor: pointer;
}
.goals .container .items .one .img img + img,
.goals .container .items .two .img img + img,
.goals .container .items .fhree .img img + img,
.goals .container .items .four .img img + img {
  align-self: center;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(0%, 0%);
  opacity: 0;
  z-index: 4;
}
.goals .container .items .one .img div::after,
.goals .container .items .two .img div::after,
.goals .container .items .fhree .img div::after,
.goals .container .items .four .img div::after {
  content: "";
  height: 50%;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
}
.goals .container .items .one .img:hover > img + img,
.goals .container .items .one .img:hover > img:first-child,
.goals .container .items .two .img:hover > img + img,
.goals .container .items .two .img:hover > img:first-child,
.goals .container .items .fhree .img:hover > img + img,
.goals .container .items .fhree .img:hover > img:first-child,
.goals .container .items .four .img:hover > img + img,
.goals .container .items .four .img:hover > img:first-child {
  animation: animal-4 2s forwards;
}
.goals .container .items .one h2,
.goals .container .items .two h2,
.goals .container .items .fhree h2,
.goals .container .items .four h2 {
  color: #676767;
}
.goals .container .items .one p,
.goals .container .items .two p,
.goals .container .items .fhree p,
.goals .container .items .four p {
  font-size: 18px;
  line-height: 30px;
  color: #676767;
  width: 60%;
}
.goals .container .items .one div:after {
  background: url(/img/1/heart.png) no-repeat;
  transform: translate(-45%, -40%);
}
.goals .container .items .two div:after {
  background: url(/img/1/diamond.png) no-repeat;
  transform: translate(-50%, -40%);
}
.goals .container .items .fhree div:after {
  background: url(/img/1/cup.png) no-repeat;
  transform: translate(-30%, -40%);
}
.goals .container .items .four div:after {
  background: url(/img/1/phone.png) no-repeat;
  transform: translate(-30%, -40%);
}

.about .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 180px;
}
.about .container h1 {
  font-size: 68px;
  color: #000;
  padding: 35px;
  position: relative;
}
.about .container h1 span {
  color: #9f449b;
}
.about .container h1:after {
  content: "";
  position: absolute;
  top: 20%;
  left: 120%;
  transform: translate(-50%, -50%);
  background: url(img/2/Shape\ 6.png) no-repeat;
  height: 40px;
  width: 30px;
  transform: scale(2);
}
.about .container h1:before {
  content: "";
  position: absolute;
  left: -20%;
  top: 80%;
  transform: translate(-50%, -50%);
  background: url(img/2/Shape\ 6.png) no-repeat;
  height: 40px;
  width: 30px;
  transform: rotate(180deg) scale(2);
}
.about .container .items {
  height: 1030px;
  display: flex;
  color: #000;
  column-gap: 10%;
}
.about .container .items .pic {
  position: relative;
  align-self: center;
  width: 100%;
  text-align: right;
}
.about .container .items .pic img:not(img:first-child) {
  position: absolute;
  top: 50%;
  left: 50%;
}
.about .container .items .pic img:nth-child(2) {
  transform: translate(-40%, 0%);
}
.about .container .items .pic img:nth-child(3) {
  transform: translate(40%, 0%);
}
.about .container .items .pic img:nth-child(4) {
  transform: translate(100%, 100%);
}
.about .container .items .text-btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about .container .items .text-btn p {
  font-size: 32px;
  font-family: "Myriad Pro";
  color: rgb(103, 103, 103);
  line-height: 2.25;
}
.about .container .items .text-btn a {
  color: #000;
  font-size: 32px;
  text-decoration: none;
  border-radius: 5px;
  padding: 2% 8%;
  align-self: start;
  background-color: #9f449b;
  box-shadow: 5px 5px 14px 5px #000;
}
.about .container .items .text-btn a:hover {
  transition: 1s;
  background-color: rgba(159, 68, 155, 0.7450980392);
}

.education,
.services {
  background: url("/img/Layer 4.png");
  background-size: cover;
  background-position: center;
}
.education .container,
.services .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 160px 0;
  row-gap: 20px;
}
.education .container .img,
.services .container .img {
  position: relative;
}
.education .container .img div::after,
.services .container .img div::after {
  content: "";
  height: 50%;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
}
.education .container .img div:after,
.services .container .img div:after {
  transform: translate(-45%, -34%);
}
.education .container h2,
.services .container h2 {
  font-size: 48px;
  width: 40%;
  text-align: center;
}

.education .img div:after {
  background: url(/img/3/study.png) no-repeat;
}
.education h2 {
  color: #fff;
}

.team .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 180px;
}
.team .container h1 {
  font-size: 68px;
  color: #676767;
  padding: 35px;
  position: relative;
}
.team .container h1 span {
  color: #9f449b;
}
.team .container h1:after {
  content: "";
  position: absolute;
  top: 20%;
  left: 120%;
  transform: translate(-50%, -50%);
  background: url(img/2/Shape\ 6.png) no-repeat;
  height: 40px;
  width: 30px;
  transform: scale(2);
}
.team .container h1:before {
  content: "";
  position: absolute;
  left: -20%;
  top: 80%;
  transform: translate(-50%, -50%);
  background: url(img/2/Shape\ 6.png) no-repeat;
  height: 40px;
  width: 30px;
  transform: rotate(180deg) scale(2);
}
.team .container .btn {
  margin: 140px 0;
  display: flex;
  column-gap: 20px;
}
.team .container .btn .right,
.team .container .btn .left {
  position: relative;
}
.team .container .btn .right div::after,
.team .container .btn .left div::after {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #9f449b;
  font-size: 45px;
  cursor: pointer;
}
.team .container .btn .right div::after {
  content: "➡";
}
.team .container .btn .left div::after {
  content: "⬅";
}
.team .container .btn .left:hover > div::after {
  animation: lefts 1s alternate infinite;
}
.team .container .btn .right:hover > div::after {
  animation: rights 1s alternate infinite;
}
.team .container .btn .right:hover > input,
.team .container .btn .left:hover > input {
  transform: rotate(180deg);
  transition: 3s;
}
.team .container .items {
  color: #000;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.team .container .items .item {
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  text-align: center;
}
.team .container .items .item h2 {
  font-size: 24px;
  color: #484848;
}
.team .container .items .item label {
  font-size: 18px;
  color: #676767;
}
.team .container .items .item div > div {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}
.team .container .items .item div > div a {
  padding-top: 15px;
  font-size: 35px;
  color: #9f449b;
}

.skills .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 180px;
}
.skills .container h1 {
  font-size: 68px;
  color: #676767;
  padding: 35px;
  position: relative;
}
.skills .container h1 span {
  color: #9f449b;
}
.skills .container h1:after {
  content: "";
  position: absolute;
  top: 20%;
  left: 120%;
  transform: translate(-50%, -50%);
  background: url(img/2/Shape\ 6.png) no-repeat;
  height: 40px;
  width: 30px;
  transform: scale(2);
}
.skills .container h1:before {
  content: "";
  position: absolute;
  left: -20%;
  top: 80%;
  transform: translate(-50%, -50%);
  background: url(img/2/Shape\ 6.png) no-repeat;
  height: 40px;
  width: 30px;
  transform: rotate(180deg) scale(2);
}
.skills .container .items {
  margin: 150px 0;
  color: #000;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
  justify-content: center;
}
.skills .container .items .top,
.skills .container .items .bottom {
  width: 100%;
  display: flex;
  gap: 10%;
  padding: 0 10%;
}
.skills .container .items .top .item,
.skills .container .items .bottom .item {
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.skills .container .items .top .item .text,
.skills .container .items .bottom .item .text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.skills .container .items .top .item .text p,
.skills .container .items .bottom .item .text p {
  font-weight: bold;
}
.skills .container .items .top .item .text span,
.skills .container .items .bottom .item .text span {
  padding-left: 50px;
  font-weight: bold;
  color: #676767;
}
.skills .container .items .top .item .loading,
.skills .container .items .bottom .item .loading {
  height: 20px;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #ccc;
  box-shadow: 0px 5px 12px 2px #000;
}
.skills .container .items .top .item .loading::before,
.skills .container .items .bottom .item .loading::before {
  content: "";
  background-color: #9f449b;
  padding: 1% 50%;
  width: 100%;
  height: 100%;
  transition: 3s;
  position: absolute;
}
.skills .container .items .top .load-1::before {
  animation: load-1 3s forwards;
}
.skills .container .items .top .load-2::before {
  animation: load-2 3s forwards;
}
.skills .container .items .bottom .load-3::before {
  animation: load-3 3s forwards;
}
.skills .container .items .bottom .load-4::before {
  animation: load-4 3s forwards;
}

.services .img div:after {
  background: url(/img/icons/bubble.png) no-repeat;
}
.services h2 {
  color: #fff;
}

.quotes {
  background-color: #eeeeee;
}
.quotes .container {
  display: flex;
  flex-direction: column;
}
.quotes .container .items {
  color: #000;
  display: flex;
  justify-content: space-around;
  padding: 150px 0;
}
.quotes .container .items .item label {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quotes .container .items .item label span {
  font-size: 64px;
  font-weight: bold;
}
.quotes .container .items .item label p {
  color: #676767;
  text-align: center;
}
.quotes .container .cards {
  color: #000;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 100px;
}
.quotes .container .cards .card {
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  display: none;
}
.quotes .container .cards .card h2 {
  font-size: 33px;
  width: 60%;
  text-align: center;
}
.quotes .container .cards .card p {
  font-size: 20px;
  color: #676767;
}
.quotes .container .cards .radio {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.quotes .container .cards .radio:has(input:nth-child(1):checked) ~ .card-1,
.quotes .container .cards .radio:has(input:nth-child(2):checked) ~ .card-2,
.quotes .container .cards .radio:has(input:nth-child(3):checked) ~ .card-3,
.quotes .container .cards .radio:has(input:nth-child(4):checked) ~ .card-4,
.quotes .container .cards .radio:has(input:nth-child(5):checked) ~ .card-5,
.quotes .container .cards .radio:has(input:nth-child(6):checked) ~ .card-6 {
  display: flex;
}

.portfolio .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 180px;
}
.portfolio .container h1 {
  font-size: 68px;
  color: #676767;
  padding: 35px;
  position: relative;
}
.portfolio .container h1 span {
  color: #9f449b;
}
.portfolio .container h1:after {
  content: "";
  position: absolute;
  top: 20%;
  left: 120%;
  transform: translate(-50%, -50%);
  background: url(img/2/Shape\ 6.png) no-repeat;
  height: 40px;
  width: 30px;
  transform: scale(2);
}
.portfolio .container h1:before {
  content: "";
  position: absolute;
  left: -20%;
  top: 80%;
  transform: translate(-50%, -50%);
  background: url(img/2/Shape\ 6.png) no-repeat;
  height: 40px;
  width: 30px;
  transform: rotate(180deg) scale(2);
}
.portfolio .container .btns {
  display: flex;
  column-gap: 20px;
  margin: 100px 0 100px;
  width: 100%;
  justify-content: center;
}
.portfolio .container .btns a {
  color: #000;
  font-size: 32px;
  text-decoration: none;
  border-radius: 5px;
  padding: 0.5% 2%;
  align-self: start;
  background-color: #9f449b;
  box-shadow: 5px 5px 14px 5px #000;
}
.portfolio .container .btns a:hover {
  transition: 1s;
  background-color: rgba(159, 68, 155, 0.7450980392);
}
.portfolio .container .items {
  color: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 75%;
  row-gap: 80px;
  margin-bottom: 80px;
}
.portfolio .container .items .item {
  overflow: hidden;
  padding-bottom: 20px;
  border: 3px solid #000;
  border-radius: 15px;
  box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.8039215686), inset 0px 0px 25px 3px rgba(0, 0, 0, 0.8274509804);
}
.portfolio .container .items .item h3 {
  font-size: 24px;
}
.portfolio .container .items .item label {
  color: #676767;
}
.portfolio .container .items .item:hover > img {
  animation: img-scale 3s alternate infinite;
}
.portfolio .container .btn-bottom {
  margin-bottom: 80px;
  width: 100%;
  text-align: center;
}
.portfolio .container .btn-bottom a {
  color: #000;
  font-size: 32px;
  text-decoration: none;
  border-radius: 5px;
  padding: 0.5% 2%;
  align-self: start;
  background-color: #9f449b;
  box-shadow: 5px 5px 14px 5px #000;
}
.portfolio .container .btn-bottom a:hover {
  transition: 1s;
  background-color: rgba(159, 68, 155, 0.7450980392);
}

footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .container h1,
footer .container h2 {
  font-size: 68px;
  color: #676767;
  padding: 35px;
  position: relative;
}
footer .container h1 span,
footer .container h2 span {
  color: #9f449b;
}
footer .container h1:after {
  content: "";
  position: absolute;
  top: 20%;
  left: 120%;
  transform: translate(-50%, -50%);
  background: url(img/2/Shape\ 6.png) no-repeat;
  height: 40px;
  width: 30px;
  transform: scale(2);
}
footer .container h1:before {
  content: "";
  position: absolute;
  left: -20%;
  top: 80%;
  transform: translate(-50%, -50%);
  background: url(img/2/Shape\ 6.png) no-repeat;
  height: 40px;
  width: 30px;
  transform: rotate(180deg) scale(2);
}
footer .container .form {
  margin: 100px 0 150px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  box-sizing: border-box;
  padding-left: 15%;
  column-gap: 8%;
}
footer .container .form .blanck {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  column-gap: 50px;
  position: relative;
}
footer .container .form .blanck [type=text] {
  margin-top: 0;
}
footer .container .form .blanck input,
footer .container .form .blanck textarea {
  width: 100%;
  margin-top: 50px;
  padding-left: 30px;
}
footer .container .form .blanck textarea {
  padding-top: 10px;
}
footer .container .form .blanck [type=text],
footer .container .form .blanck [type=email] {
  height: 35px;
}
footer .container .form .blanck [type=submit] {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  margin-bottom: 80px;
  width: 50%;
  text-align: center;
  color: #000;
  font-size: 32px;
  text-decoration: none;
  border-radius: 5px;
  background-color: #9f449b;
  box-shadow: 5px 5px 14px 5px #000;
  border: none;
  cursor: pointer;
}
footer .container .form .blanck [type=submit]:hover {
  transition: 1s;
  background-color: rgba(159, 68, 155, 0.7450980392);
}
footer .container .form .text {
  padding-right: 15%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
footer .container .form .text p {
  color: #000;
}
footer .container .form .text p:nth-child(1) {
  font-size: 22px;
}
footer .container .form .text p:nth-child(1) ~ p {
  font-size: 28px;
}
footer .container .form .links {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-size: 35px;
  align-self: flex-start;
}
footer .container .form .links a {
  color: #9f449b;
}

@keyframes animal-1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes animal-2 {
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}
@keyframes animal-3 {
  0% {
    transform: rotate(180deg);
  }
}
@keyframes animal-4 {
  0% {
    transform: rotate(180deg);
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes lefts {
  from {
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  to {
    top: 45%;
    left: 40%;
    transform: translate(-50%, -50%);
  }
}
@keyframes rights {
  from {
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  to {
    top: 45%;
    left: 60%;
    transform: translate(-50%, -50%);
  }
}
@keyframes load-1 {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(-55%, 0);
  }
}
@keyframes load-2 {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(-60%, 0);
  }
}
@keyframes load-3 {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(-62.5%, 0);
  }
}
@keyframes load-4 {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(-57.5%, 0);
  }
}
@keyframes img-scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
@media screen and (max-width: 1091px) {
  header .one,
  header .two,
  header .fhree {
    align-self: flex-start !important;
  }
}
@media screen and (max-width: 768px) {
  header .bot {
    row-gap: 150px;
  }
}

/*# sourceMappingURL=style.css.map */
