@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

$activ_color: #9f449b;

body{
    margin: 0;
    box-sizing: border-box;
    color: #000;
}
.container {
    margin: 0px auto;
    max-width: 2022px;
    position: relative;
    display: flex;
}

.about,
.team,
.skills,
.portfolio,
footer {
    h1 {
        font-size: clamp(2.5rem, 10vw, 5rem); 
        color: #676767;
        position: relative;
        span {
            color: $activ_color;
        }
    }
    h1:after {
        content: '';
        position: absolute;
        top: -5%;
        left: 115%;
        transform: translate(-50%, -50%);
        background: url(img/2/Shape\ 6.png) no-repeat;
        height: 30px;
        width: 40px;
        transform:scale(2);
    }
    h1:before {
        content: '';
        position: absolute;
        left: -30%;
        bottom: -20%;
        transform: translate(-50%, -50%);
        background: url(img/2/Shape\ 6.png) no-repeat;
        height: 30px;
        width: 40px;
        transform:rotate(180deg) scale(2);
    }
}


header {
    background-image: url(/img/Layer2.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    .container {
        flex-direction: column;
        text-align: center;
        .top {
            color: #fff;
            h1 {
                font-family: 'Raleway', sans-serif;
                font-size: clamp(3.5rem, 10vw, 6rem); 
                span {
                    color: $activ_color;
                }
            }
            .fusce {
                h4 {
                    font-size: 48px;
                    line-height: 100%;
                }
                p {
                    font-size: 24px;
                    line-height: 30px;
                }
            }
        }
        .bot {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            // row-gap: 250px; от 707px
            .items {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                height: 50vh;
                .one,
                .two,
                .fhree {
                    position: relative;
                }
                .item {
                    position: relative;
                    overflow: hidden;
                    cursor: pointer;
                    img+img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0;
                    }
                }
                // Левый основной элемент
                .item:hover > img:first-child {
                    animation: animal-2 1.2s;
                    animation-fill-mode: forwards;
                }
                // Правый элемент
                .item:hover > img:last-child {
                    animation: animal-1 1.2s;
                    animation-fill-mode: forwards;
                }
                .item::after {
                    position: absolute;
                    top: 70%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    font-size: 24px;
                }
                .item::before {
                    content: '';
                    position: absolute;
                    top: 40%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    background-size:cover;
                    width: 37%;
                    height: 32%;
                }
                .one {
                    display: flex;
                    column-gap: 20px;
                    align-self: flex-end;
                    color: #fff;
                    .itemAbout::after {
                        content: 'About';
                    }
                    .itemTeam::after {
                        content: 'Team';
                    }
                    .itemAbout::before {
                        background: url(img/icons/settings.png) no-repeat;
                    }
                    .itemTeam::before {
                        background: url(img/icons/user.png) no-repeat;
                    }
                }
                .two {
                    display: flex;
                    column-gap: 20px;
                    align-self: center;
                    color: #fff;
                    .itemServices::after {
                        content: 'Services';
                    }
                    .itemPortfolio::after {
                        content: 'Portfolio';
                    }
                    .itemServices::before {
                        background: url(img/icons/bubble.png) no-repeat;
                    }
                    .itemPortfolio::before {
                        background: url(img/icons/photo.png) no-repeat;
                    }
                }
                .fhree {
                    display: flex;
                    column-gap: 20px;
                    align-self: flex-end;
                    color: #fff;
                    .itemBlog::after {
                        content: 'Blog';
                    }
                    .itemContact::after {
                        content: 'Contact';
                    }
                    .itemBlog::before {
                        background: url(img/icons/pen.png) no-repeat;
                    }
                    .itemContact::before {
                        background: url(img/icons/paperplane.png) no-repeat;
                    }
                }
            }
            .btnDown {
                margin-bottom: 50px;
                position: relative;
                img {
                    cursor: pointer;
                    animation: animal-3 2.2s infinite;
                }
                span {
                    color: #fff;
                    cursor: pointer;
                    font-weight: bold;
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%) rotate(90deg);
                    font-size: 30px;
                }
                img:hover + span,
                span:hover {
                    color: $activ_color;
                    transition: 0.5s;
                }
            }
        }
    }
}
.goals {
    background-color: #eeeeee;
    .container {
        .items {
            padding-top: 50px;
            display: flex;
            color: #000;
            text-align: center;
            justify-content: center; 
            .one,
            .two,
            .fhree,
            .four {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-wrap: wrap;
                row-gap: 10px;
                .img {
                    position: relative;
                    cursor: pointer;
                    img+img {
                        align-self: center;
                        position: absolute;
                        top: 0%;
                        left: 0%;
                        transform: translate(0%,0%);
                        opacity: 0;
                        z-index: 4;
                    }
                    div::after {
                        content: '';
                        height: 50%;
                        width: 50%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        z-index: 0;
                    }
                }
                .img:hover > img+img,
                .img:hover > img:first-child {
                    animation: animal-4 2s forwards;
                }
                h2 {
                    color: #676767;
                    line-height: 0;
                }
                p {
                    font-size: 18px;
                    line-height: 30px;
                    color: #676767;
                    width: 60%;
                }
            }
            .one {
                div:after {
                    background: url(/img/1/heart.png) no-repeat;
                    transform: translate(-45%,-40%);
                }
            }
            .two {
                div:after {
                    background: url(/img/1/diamond.png) no-repeat;
                    transform: translate(-50%,-40%);
                }
            }
            .fhree {
                div:after {
                    background: url(/img/1/cup.png) no-repeat;
                    transform: translate(-30%,-40%);
                }
            }
            .four {
                div:after {
                    background: url(/img/1/phone.png) no-repeat;
                    transform: translate(-30%,-40%);
                }
            }
        }
    }
}
.about {
    .container {
        flex-direction: column;
        align-items: center;
        margin-top: 180px;
        justify-content: center;
        flex-wrap: wrap;
        overflow: hidden;
        .items {
            display: flex;
            color: #000;
            column-gap: 10%;
            .pic {
                padding-left: 5%;
                position: relative;
                align-self: center;
                width: 100%;
                text-align: right;
                img:not(img:first-child) {
                    position: absolute;
                    top: 50%;
                    left: 50%;         
                }
                img:nth-child(2) {
                    transform: translate(-100%,0%);
                }
                img:nth-child(3) {
                    transform: translate(10%,-0%);
                }
                img:nth-child(4) {
                    transform: translate(0%,100%);
                }
            }
            .text-btn {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 5% 5% 25% 5%;
                p {
                    width: 100%;
                    font-size: clamp(0.5rem, 5vw, 1.6rem); 
                    font-family: "Myriad Pro";
                    color: rgb(103, 103, 103);
                    line-height: 2.25;
                }
                a {
                    color: #000;
                    font-size: 32px;
                    text-decoration: none;
                    border-radius: 5px;
                    padding: 2% 8%;
                    align-self: start;
                    background-color: $activ_color;
                    box-shadow: 5px 5px 14px 5px #000;
                }
                a:hover {
                    transition: 1s;
                    background-color: #9f449bbe;
                }
            }
        }
    }
}
.education,
.services {
    background: url("/img/Layer 4.png");
    background-size: cover;
    background-position: center;    
    .container {
        flex-direction: column;
        align-items: center;
        padding: 160px 0;
        row-gap: 20px;
        .img {
            position: relative;
            div::after {
                content: '';
                height: 50%;
                width: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 0;
            }
            div:after {
                transform: translate(-45%,-34%);
            }
        }
        h2 {
            font-size: clamp(1rem, 10vw, 4rem); ;
            width: 90%;
            text-align: center;
            color: #fff;
        }
    }
}
.education {
    .img {
        div:after {
            background: url(/img/3/study.png) no-repeat;
        }
    }
}
.team {
    .container {
        flex-direction: column;
        align-items: center;
        margin-top: 180px;
        .btn {
            margin: 140px 0;
            display: flex;
            column-gap: 20px;
            .right,
            .left {
                position: relative;
                div::after {
                    position: absolute;
                    top: 45%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    color: $activ_color;
                    font-size: 45px;
                    cursor: pointer;
                }

            }
            .right {
                div::after {
                    content: '\27A1';
                }
            }

            .left {
                div::after {
                    content: '\2B05';    
                }
            }
            
            .left:hover > div::after {
                animation: lefts 1s alternate infinite;
            }
            .right:hover > div::after {
                animation: rights 1s alternate infinite;
            }
            .right:hover > input,
            .left:hover > input {
                transform: rotate(180deg);
                transition: 3s;
            }

        }
        .items {
            color:#000;
            display: flex;
            justify-content: space-around;
            width: 100%;
            .item {
                display: flex;
                flex-direction: column;
                column-gap: 10px;
                text-align: center;
                h2 {
                    font-size: 24px;
                    color: #484848;
                }
                label {
                    font-size: 18px;
                    color: #676767;
                }
                div>div {
                    display: flex;
                    justify-content: center;
                    column-gap: 30px;
                    a {
                        padding-top: 15px;
                        font-size: 35px;
                        color: $activ_color;
                    }
                }
            }
        }
    }
}
.skills {
    .container {
        flex-direction: column;
        align-items: center;
        margin-top: 180px;
        .items {
            margin: 150px 0;
            color: #000;
            display: flex;
            flex-wrap: wrap;
            gap: 40px;
            width: 100%;
            justify-content: center;
            .top,
            .bottom {
                width: 100%;
                display: flex;
                gap: 10%;
                padding: 0 10%;
                .item {
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    .text {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        p {
                            font-weight: bold;
                        }
                        span {
                            padding-left: 50px;
                            font-weight: bold;
                            color: #676767;
                        }
                    }
                    .loading {
                        height: 20px;
                        width: 100%;
                        overflow: hidden;
                        position: relative;
                        background-color: #ccc;
                        box-shadow: 0px 5px 12px 2px #000;
                    }
                    .loading::before {
                        content: '';
                        background-color: $activ_color;
                        padding: 1% 50%;
                        width: 100%;
                        height: 100%;
                        transition: 3s;
                        position: absolute;
                    }
                }
            }
            .top {
                .load-1::before {
                    animation: load-1 3s forwards;
                }
                .load-2::before {
                    animation: load-2 3s forwards;
                }

            }
            .bottom {
                .load-3::before {
                    animation: load-3 3s forwards;
                }
                .load-4::before {
                    animation: load-4 3s forwards;
                }
            }
        }
    }
}
.services {
    .img {
        div:after {
            background: url(/img/icons/bubble.png) no-repeat;
        }
    }
    h2 {
        color: #fff;
    }
}
.quotes {
    background-color: #eeeeee;
    .container {
        flex-direction: column;
        .items {
            display: flex;
            justify-content: space-around;
            padding: 150px 0;
            flex-wrap: wrap;
            width: 100%;
            gap: 50px;
            .item {
                label {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    span {
                        font-size: 64px;
                        font-weight: bold;
                        color: #222222db;
                        }
                    p {
                        color: #676767;
                        text-align: center;
                    } 
                }
            }
        }
        .cards {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            align-items: center;
            justify-content: center;
            position: relative;
            margin-bottom: 100px;
            .card {
                flex-direction: column;
                row-gap: 20px;
                align-items: center;
                justify-content: center;
                padding-bottom: 50px;
                display: none;
                h2 {
                    font-size: clamp(1.5rem, 10vw, 2.5rem);
                    width: 70%;
                    text-align: center;
                    color: #4b4b4b;
                }
                p {
                    font-size: 20px;
                    color: #676767;
                }
            }
            .radio {
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .radio:has(input:nth-child(1):checked) ~ .card-1,
            .radio:has(input:nth-child(2):checked) ~ .card-2,
            .radio:has(input:nth-child(3):checked) ~ .card-3,
            .radio:has(input:nth-child(4):checked) ~ .card-4,
            .radio:has(input:nth-child(5):checked) ~ .card-5,
            .radio:has(input:nth-child(6):checked) ~ .card-6 {
                display: flex;
            }
        }
    }
}
.portfolio {
    .container {
        flex-direction: column;
        align-items: center;
        margin-top: 180px;
        .btns {
            display: flex;
            gap: 50px;
            margin: 100px 0 100px;
            width: 100%;
            justify-content: center;
            flex-wrap: wrap;
            a {
                color: #000;
                font-size: 32px;
                text-decoration: none;
                border-radius: 5px;
                padding: 0.5% 2%;
                align-self: start;
                background-color: $activ_color;
                box-shadow: 5px 5px 14px 5px #000;
            }
            a:hover {
                transition: 1s;
                background-color: #9f449bbe;
            }
        }
        .items {
            color: #000;
            display: flex;
            flex-wrap: wrap;
            justify-content:space-around;
            align-items: center;
            text-align: center;
            width: 75%;
            row-gap: 80px;
            column-gap: 30px;
            margin-bottom: 80px;
            .item {
                overflow: hidden;
                padding-bottom: 20px;
                border: 3px solid #000;
                border-radius: 15px;
                box-shadow: 
                    0px 0px 30px 2px #000000cd,
                    inset 0px 0px 25px 3px #000000d3;
                h3 {
                        font-size: 24px;
                    }
                label {
                    color: #676767;
                }
            }
            .item:hover > img {
                animation: img-scale 3s alternate infinite;
            }
        }
        .btn-bottom {
            margin-bottom: 80px;
            width: 100%;
            text-align: center;
            a {
                color: #000;
                font-size: 32px;
                text-decoration: none;
                border-radius: 5px;
                padding: 0.5% 2%;
                align-self: start;
                background-color: $activ_color;
                box-shadow: 5px 5px 14px 5px #000;
            }
            a:hover {
                transition: 1s;
                background-color: #9f449bbe;
            }
        }
    }
}
footer {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            font-size: clamp(2.5rem, 10vw, 5rem); 
            color: #676767;
            position: relative;
            span {
                color: $activ_color;
            }
        }
        .form {
            margin: 100px 0 150px;
            display: flex;
            width: 100%;
            justify-content: space-around;
            box-sizing: border-box;
            padding-left: 15%;
            column-gap: 8%;
            .blanck {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                column-gap: 50px;
                position: relative;
                [type="text"] {
                    margin-top: 0;
                }
                input,
                textarea {
                    width: 100%;
                    margin-top: 50px;
                    padding-left: 30px;
                }
                textarea{
                    padding-top: 10px;
                }
                [type="text"],
                [type="email"] {
                    height: 35px;
                }
                [type="submit"] {
                    position: absolute;
                    top: 95%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    padding: 10px 10px;
                    margin: 80px 0;
                    width: 50%;
                    text-align: center;
                    color: #000;
                    font-size: clamp(0.8rem, 10vw, 1.7rem);
                    text-decoration: none;
                    border-radius: 5px;
                    background-color: $activ_color;
                    box-shadow: 5px 5px 14px 5px #000;
                    border: none;
                    cursor: pointer;
                }
                [type="submit"]:hover {
                    transition: 1s;
                    background-color: #9f449bbe;
                }
            }
            .text {
                padding-right: 15%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                p{
                    color: #000;
        
                }
                p:nth-child(1){
                    font-size: 22px;
                }
                p:nth-child(1) ~ p {
                    font-size: 28px;
                }
            }
            .links {
                display: flex;
                flex-direction: column;
                row-gap: 10px;
                font-size: 35px;
                align-self: flex-start;
                a {
                    color: $activ_color;
                }
            }
        }
    }
}
//                  Animation
// Замена иконки на Hedere
// Правый элемент
@keyframes animal-1 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}
// Левый основной элемент
@keyframes animal-2 {
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}
@keyframes animal-3 {
    0% {
        transform: rotate(180deg);
    }
}
@keyframes animal-4 {
    0% {
        transform: rotate(180deg);
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}
@keyframes lefts {
	from {
        top: 45%;
        left: 50%;
        transform: translate(-50%,-50%);
	}
	to {
        top: 45%;
        left: 40%;
        transform: translate(-50%,-50%);
	}
}
@keyframes rights {
	from {
        top: 45%;
        left: 50%;
        transform: translate(-50%,-50%);
	}
	to {
        top: 45%;
        left: 60%;
        transform: translate(-50%,-50%);
	}
}
// Загрузка скилы
@keyframes load-1 {
    0% {
        transform:translate(-100%, 0);
    }
    100% {
        transform:translate(-55%, 0);
    }
}
@keyframes load-2 {
    0% {
        transform:translate(-100%, 0);
    }
    100% {
        transform:translate(-60%, 0);
    }
}
@keyframes load-3 {
    0% {
        transform:translate(-100%, 0);
    }
    100% {
        transform:translate(-62.5%, 0);
    }
}
@keyframes load-4 {
    0% {
        transform:translate(-100%, 0);
    }
    100% {
        transform:translate(-57.5%, 0);
    }
}
@keyframes img-scale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}

@media screen and (max-width: 1200px) {
    .about {
        .items {
            flex-wrap: wrap;
            .pic {
                padding-top: 15%;
                text-align: center !important;
                transform: scale(0.8);
                    img:nth-child(2) {
                        transform: translate(-150%,10%) !important;
                    }
                    img:nth-child(3) {
                        transform: translate(0%,50%) !important;
                    }
                    img:nth-child(4) {
                        transform: translate(-150%,50%) !important;
                }
            }
        }
    }
}
@media screen and (max-width: 1091px) {
    header {
        .one,
        .two,
        .fhree {
            align-self: flex-start !important;
        }
    }
}
@media screen and (max-width: 992px) {
    .goals {
        .items {
            flex-wrap: wrap;
            row-gap: 50px;
       }
    }
    footer {
        .form {
            flex-wrap: wrap;
            row-gap: 100px;
            form {
                width: 80%;
            }
        }
        .links {
            flex-direction: row !important;
            column-gap: 50px;
        }
    }
}
@media screen and (max-width: 768px) {
    header {
        .bot {
            row-gap: 150px;
        }
    }
    .about {
        h1 {
            text-align: center !important;
        }
        .pic {
            img:first-child {
                width: 80%;      
            }
            img:nth-child(2) {
                width: 30%;
            }
            img:nth-child(3) {
                width: 50%;
            }
            img:nth-child(4) {
                width: 15%;
            }
        }
    }
    .team {
        h1 {
            margin: 0 !important;
        }
        .btn {
            margin: 100px 0 50px !important;
        }
        .items {
            flex-wrap: wrap;
            column-gap: 20px;
            row-gap: 50px;
        }
    }
    .skills {
        .top,
        .bottom {
            flex-wrap: wrap;
        }
    }
}
